<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/master.html">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>

<div layout:fragment="context">



<div class="container mt-5">

    <div class="my-5">
        <a href="#" th:href="@{'/author/?lang=us'}">Us</a> |
        <a href="#"th:href= "@{'/author/?lang=de'}">German</a> |
        <a href="#" th:href="@{'/author/?lang=fr'}">French</a>
    </div>
    <form action="#" th:action="@{/author}" th:object="${author}" method="post">

        <div class="form-group row">
            <label for="name" class="col-md-2" th:text="#{author.name}"></label>
            <div class="col-md-8">
                <input type="text" id="name" th:field="*{name}" class="form-control">
            </div>
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="form-text text-danger"></div>
        </div>


        <div class="form-group row">
            <label for="genre" class="col-md-2" th:text="#{author.genre}"></label>
            <div class="col-md-8">
                <input type="text" id="genre" th:field="*{genre}" class="form-control">
                <div th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}" class="text-danger"></div>
            </div>

        </div>


        <input type="submit" value="Submit" class="btn btn-primary">



    </form>
</div>

</div>

</body>
</html>